<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\Includes\ProductInfo.wxi ?>

  <?define ProductShortName="SDKNET40" ?>
  <?define ProductFlavorName="$(var.ProductName) for .NET Framework 4" ?>
  <?define ProductBinariesFolder="$(var.BinariesLayoutFolder)\$(var.Configuration)" ?>
  <?define ProductAssemblyFoldersExKey="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx" ?>
  
  <Module Id="TxNet40Module" Language="1033" Version="$(var.ProductVersion)">
    <Package Id="ee87e328-3fbf-44ce-abf4-d1619d2acd9e"
             Description="$(var.ProductFlavorName)"
             Manufacturer="$(var.ProductManufacturer)"
             InstallerVersion="200" />

    <?include ..\Includes\ProductFolders.wxi ?>

    <DirectoryRef Id="SDKBinariesFolder">
      <Directory Id="NETFramework" Name=".NETFramework">
        <Directory Id="FXBINROOT" Name="v4.0" />
      </Directory>
    </DirectoryRef>

    <?include ..\Includes\ProductBinaries.wxi ?>
    
  </Module>
</Wix>