<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\Includes\ProductInfo.wxi ?>
  <?define ProductFlavorName="$(var.ProductSDKVersionName)" ?>
  <Product Id="*"
           Name="$(var.ProductFlavorName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.ProductManufacturer)"
           UpgradeCode="d984f5af-0ac9-4505-b3bd-5f11c9862c86">
    <Package Description="$(var.ProductFlavorName)"
             Manufacturer="$(var.ProductManufacturer)"
             InstallerVersion="200"
             Compressed="yes" />

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    <Property Id="ALLUSERS" Value="1" />

    <?include ..\Includes\ProductFolders.wxi ?>

    <DirectoryRef Id="TARGETDIR">
      <Merge Id="SDKNet40Module" Language="1033" SourceFile="$(var.ModulesDir)\SDKNet40.msm"      DiskId="1" />
      <Merge Id="LinqPadModule"  Language="1033" SourceFile="$(var.ModulesDir)\LinqpadDriver.msm" DiskId="1" />
      <Merge Id="SamplesModule"  Language="1033" SourceFile="$(var.ModulesDir)\Samples.msm"       DiskId="1" />
      <Merge Id="RxNet40Module"  Language="1033" SourceFile="Modules\Rx\Net40.msm"                DiskId="1" />
    </DirectoryRef>

    <?include ..\Includes\ProductRootFiles.wxi ?>

    <Feature Id="BinariesFeature" Title="Product assemblies" Level="1">

      <Feature Id="SDKNet40Feature" Title=".NET Framework 4" Level="1">
        <MergeRef Id="SDKNet40Module" />
      </Feature>

    </Feature>

    <Feature Id="SamplesFeatures" Title="Samples" Level="1">
      <MergeRef Id="SamplesModule" />
    </Feature>

    <Feature Id="LinqpadDriverFeature" Title="LINQPad Driver" Level="1">
      <MergeRef Id="LinqPadModule" />
    </Feature>

    <Feature Id="RxNet40Feature" Title="Rx for .NET Framework 4" Absent="disallow" Display="hidden" Level="1">
      <MergeRef Id="RxNet40Module" />
    </Feature>

    <?include ..\Includes\UI.wxi ?>

  </Product>
</Wix>