<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ..\Includes\ProductInfo.wxi ?>

  <?define ProductBinariesFolder="$(var.BinariesLayoutFolder)\$(var.Configuration)" ?>

  <Module Id="TxLinqpadModule" Language="1033" Version="$(var.ProductVersion)">
    <Package Id="cc718809-c23a-42c8-9146-02456cfcc470"
             Description="LINQPad Driver"
             Manufacturer="$(var.ProductManufacturer)"
             InstallerVersion="200" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="CommonAppDataFolder" Name="CommonAppData">
          <Directory Id="LPD_LINQPad" Name="LINQPad">
            <Directory Id="LPD_Drivers" Name="Drivers">
              <Directory Id="LPD_DataContext" Name="DataContext">
                <Directory Id="LPD_40" Name="4.0">
                  <Directory Id="LinqpadDriverTxFolder" Name="TxLinqPadDriver (3d3a4b0768c9178e)" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="LinqpadDriverTxFolder" FileSource="$(var.ProductBinariesFolder)">

      <Component Id="Rx.Interfaces.dll" Guid="*">
        <File Name="System.Reactive.Interfaces.dll" Id="Rx.Interfaces.dll" Checksum="yes" />
      </Component>
      <Component Id="Rx.Interfaces.xml" Guid="*">
        <File Name="System.Reactive.Interfaces.xml" Id="Rx.Interfaces.xml" />
      </Component>

      <Component Id="Rx.Core.dll" Guid="*">
        <File Name="System.Reactive.Core.dll" Id="Rx.Core.dll" Checksum="yes" />
      </Component>
      <Component Id="Rx.Core.xml" Guid="*">
        <File Name="System.Reactive.Core.xml" Id="Rx.Core.xml" />
      </Component>

      <Component Id="Rx.Linq.dll" Guid="*">
        <File Name="System.Reactive.Linq.dll" Id="Rx.Linq.dll" Checksum="yes" />
      </Component>
      <Component Id="Rx.Linq.xml" Guid="*">
        <File Name="System.Reactive.Linq.xml" Id="Rx.Linq.Xml" />
      </Component>

      <Component Id="Rx.Services.dll" Guid="*">
        <File Name="System.Reactive.PlatformServices.dll" Id="Rx.Services.dll" Checksum="yes" />
      </Component>
      <Component Id="Rx.Services.xml" Guid="*">
        <File Name="System.Reactive.PlatformServices.xml" Id="Rx.Services.Xml" />
      </Component>

      <Component Id="Tx.LPD.dll" Guid="*">
        <File Name="System.Reactive.Tx.dll" Id="Tx.LPD.dll" Checksum="yes" />
      </Component>
      <Component Id="Tx.LPD.xml" Guid="*">
        <File Name="System.Reactive.Tx.xml" Id="Tx.LPD.xml" />
      </Component>

      <Component Id="Tx.LPD.Etw.dll" Guid="*">
        <File Name="Microsoft.Etw.dll" Id="Tx.LPD.Etw.dll" Checksum="yes" />
      </Component>
      <Component Id="Tx.LPD.Etw.xml" Guid="*">
        <File Name="Microsoft.Etw.xml" Id="Tx.LPD.Etw.xml" />
      </Component>

      <Component Id="Tx.LPD.Etw.TypeGeneration.dll" Guid="*">
          <File Name="Microsoft.Etw.TypeGeneration.dll" Id="Tx.LPD.Etw.TypeGeneration.dll" Checksum="yes" />
      </Component>
      <Component Id="Tx.LPD.Etw.TypeGeneration.xml" Guid="*">
          <File Name="Microsoft.Etw.TypeGeneration.xml" Id="Tx.LPD.Etw.TypeGeneration.xml" />
      </Component>

      <Component Id="Tx.LPD.Driver.dll" Guid="*">
        <File Name="TxLinqPadDriver.dll" Id="Tx.LPD.Driver.dll" Checksum="yes" />
      </Component>

      <Component Id="Tx.LPD.Header.xml" Guid="*">
        <File Name="Header.xml" Id="Tx.LPD.Header.xml" Checksum="yes" />
      </Component>

    </DirectoryRef>

  </Module>
</Wix>